@function get-media-values($breakpoint) {
    @return map-get($reponsive__breakpoints, $breakpoint);
}

@function get-queries($breakpoint, $type) {
    $media-values: get-media-values($breakpoint);
    $min-width: map-get($media-values, 'min');

    $max-width: map-get($media-values, 'max');
    $queries: '';

    @if ($type == 'mobile-first') {
        $queries: '(min-width: #{$min-width})';
    }

    @if ($type == 'desktop-first') {
        $queries: '(max-width: #{$max-width})';
    }

    @if ($type == 'restrictive') {
        $queries: if($min-width != 0, $queries + '(min-width: #{$min-width}) and ', $queries);
        $queries: if($max-width != '∞', $queries + '(max-width: #{$max-width}) and ', $queries);
        $queries: str-slice($queries, str-length($queries) * -1, -5);
    }

    @if ($type == 'mobile-first' and $min-width == 0) or ($type == 'desktop-first' and $max-width == '∞') {
        $queries: 'all';
    }

    @return $queries;
}
