@mixin media-query($breakpoint, $type) {
    @media #{get-queries($breakpoint, $type)} {
        @content;
    }
}

@mixin hidden {
    display: none;
    visibility: hidden;
}

@mixin visible ($display: block) {
    display: $display;
    visibility: visible;
}
