$reponsive__breakpoints: (
    'xs': (
        'min': 0,
        'max': 767px,
    ),
    'sm': (
        'min': 768px,
        'max': 991px,
    ),
    'md': (
        'min': 992px,
        'max': 1199px,
    ),
    'lg': (
        'min': 1200px,
        'max': '∞',
    ),
) !default;

$hidden-helpers: true !default;
$hidden-helpers-prefix: 'hidden--' !default;
$visible-helpers: true !default;
$visible-displays: (block, inline-block, inline) !default;
$visible-helpers-prefix: 'visible--' !default;
