$breakpoints: (
  'xs': ('min': 0, 'max': 374px),
  'sm': ('min': 375px, 'max': 524px),
  'md': ('min': 525px, 'max': 959px),
  'lg': ('min': 960px, 'max': 1199px),
  'xl': ('min': 1200px, 'max': '∞')
) !default;

$hidden-helpers: true !default;
$hidden-helpers-prefix: 'hidden--' !default;

$visible-helpers: true !default;
$visible-displays: (block, inline-block, inline) !default;
$visible-helpers-prefix: 'visible--' !default;
